.container {
  width: 40rem;
  position: relative;
}

input {
  font-size: 1.6rem;
}

label {
  font-size: 1.6rem;
}

.con{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.main-btn {
  margin-top: 2.4rem;
  width: 100%;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  width: 3rem;
  stroke: #333;
  right: 0;
  top:0;
}
