.main-con {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  max-width: 100rem;
  min-width: 20rem;
  width: 100%;
  padding: 1.2rem 3.4rem
}





app-action-panel {
  width: 25%;
}

.outlet-con {
  width: 640px;
}

@media only screen and (max-width: 1000px) {
  app-action-panel {
    width: 100%;
  }

  .outlet-con {
    width: 100%;
  }

  .outlet-con router-outlet {
    width: 100%;
  }

  .main-con {
    flex-direction: column;
    padding: 0.6rem;
  }

  .flex-col {
    gap: 2rem;
  }
}
