<div class="fixed">
  <div class="flex space-between con">
    <div class="flex" style="cursor: pointer" routerLink="/">
      <img src="assets/images/logo.png"  class="logo-img"/>
      <h1>Reddit clone</h1>
    </div>

    <div class="search-bar flex" style="gap: 0">
      <input autocomplete="off"
        placeholder="Search for users" name="keyword" class="form-control" (keyup)="onWriting($event)"/>
      <button type="submit" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </button>

      <div class="user-results" *ngIf="searchedUsers.length > 0 && isShowingResults">
        <p class="bold">Found <span style="color: #0079d3">{{ searchedUsers.length}}</span> users</p>
        <div [routerLink]="['/profile/', user.username]" class="result-con" *ngFor="let user of searchedUsers" >
          <img [src]="user?.profileImagePath ? user?.profileImagePath : DEFAULT_IMAGE_PATH" class="result-img"/>
          <p class="username-result" >{{ user?.username }}</p>
        </div>
      </div>
    </div>


    <div class="flex buttons" *ngIf="!isAuthenticated; else authenticatedUser">
      <button routerLink="/login"  class="second-btn" id="login">Login</button>
      <button routerLink="/register" id="reg">Signup</button>
    </div>

    <ng-template #authenticatedUser>
      <div class="flex-grow-1 float-right">
        <div *ngIf="isAuthenticated" ngbDropdown class="float-right">
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button  ngbDropdownItem [routerLink]="['/profile/', username]">Profile</button>
            <button  ngbDropdownItem (click)="logout()">Logout</button>
          </div>
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <img class="account-icon" [src]="currentUser?.profileImagePath ? currentUser?.profileImagePath : DEFAULT_IMAGE_PATH"/>
            {{username}}
          </button>
        </div>
        <div *ngIf="!isAuthenticated">
          <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
          <a routerLink="/login"  class="float-right login mr-2">Login</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
