.logo-img {
  width: 5rem;
  cursor: pointer;
}

h1 {
  color: #0079d3;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

}

h1 {
  margin: 0;
}

.con {
  padding: 2.8rem 5.8rem;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.buttons {
  gap: 1rem;
}

s

#login {
  background-color: #fff;
  color: #0079d3;
  border: solid 2px #0079d3;
}

#login:hover {
  background-color: #0079d3;
  border: solid 2px #0079d3;
  color: #fff;
  transition: all 0.2s linear;
}

#reg {
  background-color: #0079d3;
  border: solid 2px #0079d3;
  color: #fff;
}

#reg:hover {
  background-color: #fff;
  color: #0079d3;
  border: solid 2px #0079d3;
  transition: all 0.2s linear;
}

header{

}
.reddit-icon-svg{
  height: 50px;
  padding: 8px 8px 8px 0;
  width: 50px;
}

.reddit-text{
  font-weight: 700;
  height: 50px;
  width: 50px;
}
.logo{
  text-decoration: none;
}

.login, .sign-up{
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.sign-up{
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
}

.sign-up:hover{
  opacity: 0.6;
}

.userdetails{
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  border: 0px;
}

.userdetails:hover{
  border: 1px solid;
}

.dropdown-item{
  background-color: #f8f9fa;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-item:hover{
  background-color: #0079D3;
}

.dropdown-menu{
  background-color: #f8f9fa;
}

.account-icon{
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}


.search-icon {
  width: 3rem;
  height: 3rem;
}

.flex {
  display: flex;
}

input {
  height: 100%;
  font-size: 1.8rem;
  padding: 0.8rem 1.2rem;
}

.search-bar {
  margin-left: 10rem;
  position: relative !important;
}

.user-results {
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: translateY(100%);
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.2rem;
}

.username-result {

  margin: 0;
  color: #333;
  font-size: 1.6rem;
}

.result-con {
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.result-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bold {
  font-size: 1.6rem;
  font-weight: bold;
}

.result-con:hover {
  background-color: #e9ecef;
  transition: all 0.2s linear;
}



