.flex-col {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.main-con {
  min-height: 100vh;
  background-color: #f3f3f3;
}

@media only screen and (max-width: 1000px) {
  .flex-col {
    gap: 4rem;
  }
}
