

.vote-icon {
  width: 3rem;
  stroke: #868e96;
  cursor: pointer;
  transition: all 0.2s linear;
}

.vote-icon:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

p {
  margin: 0;
  font-size: 1.4rem;
  color: #868e96;
}

.posts-con {
  width: 100%;
}

.post {
  padding: 2.8rem 3.4rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 2.4rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-content {
  width: 100%;
}

.subreddit-name {
  font-weight: bold;
  color: #222;
  font-size: 1.6rem;
}

.liked {
  stroke: #12b886 !important;
}

.disliked {
  stroke: #f03e3e !important;
}

.post-time-stamp {
  font-size: 1.2rem;
}

.post-data {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.post-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #333;
}

.voting-num {
  font-size: 1.6rem;
  font-weight: bold;
}

.positive {
  color: #12b886;
}

.negative {
  color: #f03e3e;
}

.user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.space-between {
  justify-content: space-between;
}

.username {
  font-weight: bold;
  color: #0079d3;
  font-size: 1.4rem;
}

.post-img {
  width: 30rem;
}
