input, textarea {
  font-size: 1.4rem;
  width: 100%;
}

label {
  font-size: 1.6rem;
}

textarea {
  min-height: 10rem;
  max-height: 25rem;
}

.editor {
  max-height: 60rem;
}

.form-row {
  margin-bottom: 2.4rem;
  display: block;
  width: 100%;
}

.form-con {
  background-color: #fff;
  width: 100%;
  padding: 3.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

form div:first-child {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btns-con {
  display: block;
  gap: 1rem;
}

.main-btn {
  width: 50%;
}
.second-btn {
  width: 50%;
}

h1 {
  margin: 0;
}
hr {
  margin-top: 0.6rem;
  margin-bottom: 2.8rem;
}

.statue {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3.4rem;
}

.statue ul  {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

.statue ul li {
  background-color: #0079d3;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
}

.subreddit {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1000px) {
  .form-con {
    padding: 1rem;
  }
}
