<div class="flex container" style="margin: 2rem auto">
  <div class="form-con">
    <form [formGroup]="postFormGroup" (ngSubmit)="onPostCreating()">
      <div formGroupName="post">
        <h1>Create Post</h1>
        <hr/>

        <div class="form-row">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title"/>

              <mat-error *ngIf="title.errors && (title.touched || title.dirty)">Title must be valid</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Subreddit</mat-label>
              <mat-select formControlName="subreddit" >
                <mat-option *ngFor="let subreddit of subreddits" [value]="subreddit.title">
                  {{ subreddit?.title }}
                </mat-option>

              </mat-select>
              <mat-error *ngIf="subreddit.errors && (subreddit.touched || subreddit.dirty)">
                Please select subreddit
              </mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="form-row">

          <label for="content">Content</label>


        <editor formControlName="content"
                [ngClass]="content.errors && (content.touched || content.dirty) ? 'is-invalid' : ''"
                id="content"
                [init]="{plugins : 'link'}"
        >
        </editor>

          <div class="invalid-feedback">
          Content must be valid.
        </div>
        </div>


        <div class="form-row">
          <div>
            <label for="image">Upload image</label>
            <input  type="file" class="form-control"  id="image"
                   (change)="onFileSelected($event)">
          </div>
        </div>

        <div class="flex btns-con">
          <button class="second-btn" type="button" routerLink="/">Discard</button>
          <button class="main-btn" type="submit">Post</button>
        </div>
      </div>
    </form>
  </div>
</div>
