<div class="fixed">
  <div class="flex space-between con">
    <div class="flex logo-con"  style="cursor: pointer" routerLink="/">
      <img src="../../../assets/images/logo.png" class="logo-img"/>
      <h1>Reddit clone</h1>
    </div>

    <div class="search-bar flex" style="gap: 0">
      <input autocomplete="off"
        placeholder="Search for users..." name="keyword" class="form-control" (keyup)="onWriting($event)" [(ngModel)]="keyword"/>
      <div class="user-results" *ngIf="searchedUsers.length > 0 && isShowingResults">
        <p class="bold">Found <span style="color: #0079d3">{{ searchedUsers.length}}</span> users</p>
        <div [routerLink]="['/profile/', user.username]" (click)="keyword = ''" class="result-con" *ngFor="let user of searchedUsers" >
          <img [src]="user?.profileImageLink ? user?.profileImageLink : DEFAULT_IMAGE_PATH" class="result-img"/>
          <p class="username-result" >{{ user?.username }}</p>
        </div>
      </div>
    </div>


    <div class="flex buttons" *ngIf="!isAuthenticated; else authenticatedUser">
      <button routerLink="/login"  class="second-btn" id="login">Login</button>
      <button routerLink="/register" id="reg">Signup</button>
    </div>

    <ng-template #authenticatedUser>
      <div class='flex space-between'>
        <div *ngIf="isAuthenticated" ngbDropdown class="float-right">
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button  ngbDropdownItem [routerLink]="['/profile/', username]">Profile</button>
            <button  ngbDropdownItem (click)="logout()">Logout</button>
          </div>
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <img class="account-icon" [src]="currentUser?.profileImageLink ? currentUser?.profileImageLink : DEFAULT_IMAGE_PATH"/>
            <span class="menu-username"> {{username}}</span>
          </button>
        </div>
        <div *ngIf="!isAuthenticated">
          <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
          <a routerLink="/login"  class="float-right login mr-2">Login</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
