<div class="user-posts">
  <div class="flex">
    <h1 class="username" style="width: max-content;">{{ ownerAccount ? "Your" : username }} posts</h1>

      <form class="search-form flex" (submit)="onPostsSearching($event)" >
        <input placeholder="Search for your posts" name="keyword" class="form-control" [(ngModel)]="keyword"/>
        <button type="submit" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </button>
      </form>

  </div>
  <div class="posts-list-con" *ngIf="posts.length > 0; else noPosts">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>

  <ng-template #noPosts >
    <div style="min-height: 50rem">
      <p class="alert alert-warning">No posts found.</p>
    </div>
  </ng-template>
  <ngb-pagination
    *ngIf="totalElements > 0;"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="totalElements"
    (pageChange)="onPageChange()"
    [boundaryLinks]="true"
  >
  </ngb-pagination>
</div>
